<div ng-controller="GalleryCtrl">
    <div class="row gallery instaJumbotron">
        <h1 class="instaTitle">InstaWall.</h1>
        <div class="col-md-3 col-md-3-mod col-sm-3 col-xs-3 tile" ng-repeat="img in images | limitTo: 12">
            <a href="" ng-click="showEmb(img)">
                <div class="instaMask"></div>
                <img ng-src="{{ img.images.low_resolution.url }}" alt="{{ img.tags }}" class="instaHead">
            </a>
        </div>
    </div>
    <div class="emb"></div>
    <div id="lightBoxMask"></div>
</div>
