/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.panel {
  background: #f9f9f9;
  border: #CCC 1px solid;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  line-height: 1.8em;
}

h5 {
  margin: 10px 0;
  padding: 10px;
  background: #f4f4f4;
}

.hero {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/msg-board-5eaf2.appspot.com/o/images%2Ftunnel.jpg?alt=media&token=e3117e9a-5fd7-42c6-8a2f-9909e6251613");
  background-size: cover;
  height: 400px;
}

.title-vert-center {
  margin-top: 150px;
}

.postBox {
  position: fixed;
  bottom: 5%;
  right: 5%;
  background: #FFF;
  border: 1px solid #CCC;
  padding: 5px 20px;
  z-index: 100;
}

.closeBtn {
  position: absolute;
  right: 15px;
}

.postBtn {
  position: absolute;
  z-index: 1;
  top: 270px;
  left: 50%;
  transform: translateX(-50%);
}

.postDate {
  font-size: 5px;
  color: #BBB;
}

.small-2 img {
  height: 50px;
}

pre span {
  font-family: sans-serif;
}

.goTop {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0px;
  top: 50%;
  text-align: center;
  background: #3cb371;
  color: #FFF;
  padding-top: 10px;
  line-height: 15px;
  z-index: 100;
  transition: 0.3s;
  cursor: pointer;
}

.goTop:hover {
  background: #37a267;
  transition: 0.3s;
}

.callout {
  height: 20px;
  padding: 0px;
  line-height: 0px;
}

.success.callout {
  border: none;
}

.callout a {
  position: absolute;
  right: 10px;
  font-size: 30px;
}

.userPic {
  width: 100px;
}

.userName {
  text-align: center;
  width: 100px;
}

.postContent {
  width: 70%;
}

.actionBtn {
  text-align: right;
}

@media screen and (max-width: 800px) {
  .userPic img {
    min-width: 30px;
  }
}