<div ng-controller="FacebookCtrl">
    <div class="jumbotron">
        <h2 ng-if="!isLoggedIn">Welcome to Facebok Poster</h2>
        <h2 ng-if="isLoggedIn">{{ welcomeMsg }}</h2>
        <h4 ng-if="!isLoggedIn">Login To Start Post!</h4>
        <div ng-if="!isLoggedIn">
            <button type="button" class="login-btn" ng-click="login()">Login</button>
        </div>
        <div ng-if="isLoggedIn">
            <button type="button" class="login-btn" ng-click="logout()">Logout</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="well" ng-if="isLoggedIn">
                <img ng-src="{{ picture }}">
                <h4>User Info</h4>
                <ul>
                    <li>Name: {{ userInfo.first_name }} {{ userInfo.last_name }}</li>
                    <li>Email: {{ userInfo.email }}</li>
                    <li>Gender: {{ userInfo.gender }}</li>
                </ul>
            </div>
            <br>
        </div>
        <div class="col-md-8">
            <div ng-if="isLoggedIn">
                <form ng-submit="postStatus()">
                    <div class="form-group">
                        <label>Status Update</label>
                        <textarea class="form-control" ng-model="body"></textarea>
                        <button type="submit" class="btn btn-default submit">Submit</button>
                    </div>
                </form>
                <br><br>
                <div ng-repeat="post in posts | limitTo: limitation" class="stbody">
                    <div class="sttext">
                        <div class="stimg">
                            <img ng-src="{{ picture }}">
                        </div>
                    
                        {{ post.message }}
                        <hr>
                        <div class="sttime">{{ post.created_time }}</div>
                    </div>
                </div>
                <div>
                    <a href="" ng-click="loadMore()" class="btn btn-default submit">Load More</a>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
    <div class="FB-link" ng-if="isLoggedIn">
      <a href="http://facebook.com" alt="Go to Facebook page" title="Go to Facebook page" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    </div>
</div>