body {
    background: #000;
}

footer {
    background: #222;
    height: 60px;
    margin-top: 20px;
    color: #9d9d9d;
    text-align: center;
    padding-top: 8px;
}

.col-md-3-mod {
    padding: 1px;
}

.instaHead {
    width: 100%;
    height: 100%;
}

.instaMask {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    transition: 0.5s;
}

.instaMask:hover {
    background: rgba(0,0,0,0);
    transition: 0.5s;
}

.instaTitle {
    font-family: 'Syncopate', sans-serif;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%);
    z-index: 100;
    color: #FFF;
    font-size: 140px;
}

.instaJumbotron {
    position: relative;
}

.emb {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 102;
}

#lightBoxMask {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: none;
}

.userPic {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 30px;
    border-radius: 50%;
}

.userName {
    position: absolute;
    top: 18px;
    left: 50px;
}

@media screen and (max-width: 1200px) {
    .instaTitle {
        font-size: 100px;
    }
}

@media screen and (max-width: 1000px) {
    .instaTitle {
        font-size: 80px;
    }
}

@media screen and (max-width: 700px) {
    .instaTitle {
        font-size: 50px;
    }
}

@media screen and (max-width: 500px) {
    .instaTitle {
        font-size: 30px;
    }
}